/*Trevor Womack
    10/23/2020
    Mini challenge 9 - RNG name generator
    On this page you will find a random name generator, pulling from an array of the codestack 2020-21 schoolyear. There are no repeats */
.backgroundColor {
  background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.center {
  display: flex;
  justify-content: center;
}
.fontSize1 {
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
}
.jumbotronC {
  background-color: rgb(97, 103, 163);
}
.titleColor {
  color: white;
}
.fontStyle{
  font-family: 'Anton', sans-serif;
}
.buttonColor{

  background-color: rgb(61, 2, 102);
}
